{% extends 'accounts/base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center  bg-light" style="padding-top: 90px; padding-bottom:90px;" >
    <div class="card shadow-sm" style="width: 400px;">
        <div class="card-header bg-primary text-white text-center">
            <h3>Reset Your Password</h3>
        </div>
        <div class="card-body">
            <p class="text-muted text-center mb-4">
                Enter your email address to receive a password reset link.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
            </form>
        </div>
        <div class="card-footer bg-white text-center">
            <a href="{% url 'login' %}" class="text-decoration-none text-primary">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
